In [1]:
from bs4 import BeautifulSoup

In [2]:
from glob import glob

In [3]:
st = []
bt = []
for filename in glob('*.html'):
    with open(filename, 'r') as file:
        html_code = file.read()

        soup = BeautifulSoup(html_code, 'html.parser')
        text = soup.get_text()
        text = text.split(' ')

        s_t = text[36]
        numbers_36 = ''.join(c if c.isdigit() else ' ' for c in s_t).split()
        numbers = int(*numbers_36)
        st.append(numbers)

        b_t = text[37]
        numbers_37 = ''.join(c if c.isdigit() else ' ' for c in b_t).split()
        string_37 = ' '.join(numbers_37)
        string_37 = string_37.replace(' ', '.')
        numbers_37 = string_37.split('\t')
        numbers_ = float(*numbers_37)
        bt.append(numbers_)

In [4]:
st_wet = []
for i in range(0, len(st), 2):
    sum = st[i] + st[i+1]
    st_wet.append(sum)

print(st_wet)

[]

In [5]:
bt_wet = []
for i in range(0, len(bt), 2):
    su_m = bt[i] + bt[i+1]
    bt_wet.append(su_m)

print(bt_wet)

[]

In [6]:
st_trimmed = []
for i in range(0, len(st), 2):
    sum = st[i] + st[i+1]
    st_trimmed.append(sum)

print(st_trimmed)

[]

In [7]:
bt_trimmed = []
for i in range(0, len(bt), 2):
    su_m = bt[i] + bt[i+1]
    bt_trimmed.append(su_m)

print(bt_trimmed)

[]

In [8]:
st_mapping = []
for i in range(0, len(st), 2):
    sum = st[i] + st[i+1]
    st_mapping.append(sum)

print(st_mapping)

[]

In [9]:
bt_mapping = []
for i in range(0, len(bt), 2):
    su_m = bt[i] + bt[i+1]
    bt_mapping.append(su_m)

print(bt_mapping)

[]

In [10]:
sample_number = []
for i in range (6613, 6732):
  new_sample = f"SRR1330{i}"
  sample_number.append(new_sample)

In [11]:
import pandas as pd

In [80]:
df_sample = pd.DataFrame({'sample_number': sample_number, 'total_seq_wet': st_wet, 'total_seq_trimmed': st_trimmed, 'total_seq_cont': st_mapping, 'total_bases_wet': bt_wet, 'total_bases_trimmed': bt_trimmed, 'total_bases_cont': bt_mapping})
df_sample

,sample_number,total_seq_wet,total_seq_trimmed,total_seq_cont,total_bases_wet,total_bases_trimmed,total_bases_cont
0,SRR13306613,170680,163134,163134,51.2,43.2,43.2
1,SRR13306614,212534,204264,204264,63.8,55.0,55.0
2,SRR13306615,179930,171816,171816,54.0,45.4,45.4
3,SRR13306616,306460,293990,293990,92.0,78.4,78.4
4,SRR13306617,203366,195254,195254,61.0,51.2,51.2
...,...,...,...,...,...,...,...
114,SRR13306727,272296,260728,260728,81.7,69.1,69.1
115,SRR13306728,212348,202632,202632,63.7,53.4,53.4
116,SRR13306729,178412,171824,171824,53.5,46.1,46.1
117,SRR13306730,176754,169648,169648,53.0,44.5,44.5
118,SRR13306731,356564,340198,340198,107.1,90.0,90.0

In [81]:
df_sample = df_sample[df_sample['total_seq_cont']/df_sample['total_seq_wet'] >= 0.6]
df_sample = df_sample[df_sample['total_bases_cont']/df_sample['total_bases_wet'] >= 0.6]

In [82]:
df_sample

,sample_number,total_seq_wet,total_seq_trimmed,total_seq_cont,total_bases_wet,total_bases_trimmed,total_bases_cont
0,SRR13306613,170680,163134,163134,51.2,43.2,43.2
1,SRR13306614,212534,204264,204264,63.8,55.0,55.0
2,SRR13306615,179930,171816,171816,54.0,45.4,45.4
3,SRR13306616,306460,293990,293990,92.0,78.4,78.4
4,SRR13306617,203366,195254,195254,61.0,51.2,51.2
...,...,...,...,...,...,...,...
114,SRR13306727,272296,260728,260728,81.7,69.1,69.1
115,SRR13306728,212348,202632,202632,63.7,53.4,53.4
116,SRR13306729,178412,171824,171824,53.5,46.1,46.1
117,SRR13306730,176754,169648,169648,53.0,44.5,44.5
118,SRR13306731,356564,340198,340198,107.1,90.0,90.0